
body {background-color: powderblue;}
.btn  {
    color: #000080;
    font-family: verdana;
}
.card {
    color: #000080;
    font-family: verdana;
}
h1{
    color: #000080;
    font-family: verdana;
}

