* {
    box-sizing: border-box;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ad2203;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }

.topnav {
    display: flex;
    background-color: #ad2203;

    

  }

.topnav a {
    padding: 10px 20px;

}

.topnav a:hover {
    background-color: #ddd;
    color: black;
      }
  
  /* Style the navigation bar links */

.friend {
    padding: 10%;
}
body {
    font-family: Arial;
    margin: 0;;
}


.row {
    display: flex;
    flex-wrap: wrap;
}
.profile {
    display: block;
    margin-top: 40px; 
    margin-left: 50px;
    border-radius: 50%;
    width: 30%;
    height: auto;
}

.name {
    font-family: Inder;
    font-style: normal;
    font-weight: 500;
    color: aliceblue;
    font-size: 70px;
    margin-top: 5%;
    margin-left: 5%;

}
.friendTitle {
    font-family: Inder;
    font-style: normal;
    font-weight: 500;
    color: aliceblue;
    font-size: 55px;
}
.contact-nav {
    font-family: Inder;
    font-style: normal;
    font-weight: 500;
    color: aliceblue;
}
.contact {
    font-family: Inder;
    font-style: normal;
    font-weight: 500;
    color: aliceblue;
    font-size: 60px; 
    text-align: center;
    margin-top: 20%;
}
.npm {
    font-family:'Courier New', Courier, monospace;
    font-style: normal;
    font-weight: 100;
    color: aliceblue;
    margin-left: 5%;
    font-size: 33px;
}
.ui {
    font-family: Inder;
    font-style: normal;
    font-weight: 500;
    color: aliceblue;
    font-size: 33px;
    padding-top: 17%;
    padding-left: 125px;
}
.hobbydesc {
    font-family: Inder;
    font-style: normal;
    font-weight: 500;
    color: aliceblue;
    font-size: 33px;
    padding-left: 125px;
}



.desc {
    font-family: Nunito Sans;
    font-style: oblique;
    font-weight: 500;
    color: aliceblue;
    font-size: 24px;
    margin-left: 10%;
}
.line {
position: absolute;
left: 6%;
height: 90vh;
width: 1px;
border: 2px solid #FFFFFF;
top: 0;
}
.line-right {
position: absolute;
right: 6%;
height: 90vh;
width: 1px;
border: 2px solid #FFFFFF;
bottom: 0;
}
.line-horizontal {
position: absolute;
left: 0;
height: 1px;
width: 15vw;
border: 2px solid #FFFFFF;
bottom: 20%;
}
.line-horizontal-right {
position: absolute;
right: 0;
height: 1px;
width: 15vw;
border: 2px solid #FFFFFF;
top: 20%;  
}

@media screen and (max-width: 600px) {
    .name {
        font-size: 30px;
      }
      .npm {
          margin-top: 15%;
          font-size: 22px;
      }
      .profile {
          margin-left: auto;
          margin-right: auto;
          display: block;
          width: auto;
      }
      .contact {
          font-size: 35px;
      }
      .ui {
          margin-top: 30%;
      }
      .profile {
          block-size: 50vw;
      }
      .contact-nav{
          font-size: 15px;
      }
  } 

