<!DOCTYPE html>
{%load static%}
<html>
<head>
<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Story Ano</title>
  
  
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

  


</head>
<body>
<style>

body {background-color: powderblue; font-family: verdana}
.dark-mode {
    background-color: black;
    color: white;
}


</style>

<h1>Hello my name is Ano!
<br>
Here's a little bit about me.
</h1>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12" style="padding: 0; height:100vh">
                <div class="accordion" id="accordionExample" style="margin: 10%;">
                    <div class="card" id = 'accordion1' style="background-color: #FFFFF;">
                      <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" style="color: black; font-size : 36px;">
                            Current Activities
                          </button>
                          <button class="button" name="up1" onclick="up1()" style="position: absolute; right:5%; background-color:#FFFFF; border:none;" >^</button>
                          <button class="button" name="down1" onclick="down1()" style="position: absolute; right:10%; background-color:#FFFFF; border:none;">v</button>
                        </h2>
                      </div>
                  
                      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li>Playing GTA Online</li>
                                <li>Finishing Assassin's Creed Odyssey</li>
                                <li>Sleeping</li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card" id = 'accordion2' style="background-color: #FFFFF;">
                      <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo" style="color: black; font-size : 36px;">
                            Organizational Experience
                          </button>
                          <button class="button" name="up2" onclick="up2()" style="position: absolute; right:5%; background-color:#FFFFF; border:none;" >^</button>
                          <button class="button" name="down2" onclick="down2()" style="position: absolute; right:10%; background-color:#FFFFF; border:none;">v</button>
                        </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                                <li> Leader of Division II Student Organization SMAN 68 Jakarta </li>
                                <li> Treasurer of Futsal Organization SMAN 68 Jakarta </li>
                                <li> Member of Medic Organization SMAN 68 Jakarta </li>
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card" id = 'accordion3' style="background-color: #FFFFF;">
                      <div class="card-header" id="headingThree">
                        <h2 class="mb-0">
                          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" style="color: black; font-size : 36px;">
                            Committee Experience
                          </button>
                          <button class="button" name="up3" onclick="up3()" style="position: absolute; right:5%; background-color:#FFFFF; border:none;" >^</button>
                          <button class="button" name="down3" onclick="down3()" style="position: absolute; right:10%; background-color:#FFFFF; border:none;">v</button>
                        </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                            <ul>
                              <li>Person in Charge Sponsorship PERAK 2020</li>
                              <li>Vice Person in Charge Sponsorship COMPFEST 12</li>
                              <li>Staff of Documentation and Animation COMPFEST 11</li>
                              <li>Person in Charge Sponsorship BAZKOM 2017 SMAN 68</li> 
                            </ul>
                        </div>
                      </div>
                    </div>
                    <div class="card" id = 'accordion4' style="background-color: #FFFFF;">
                        <div class="card-header" id="headingFour">
                          <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" style="color: black; font-size : 36px;">
                                Achievements
                            </button>
                            <button class="button" name="up3" onclick="up4()" style="position: absolute; right:5%; background-color:#FFFFF; border:none;" >^</button>
                          <button class="button" name="down3" onclick="down4()" style="position: absolute; right:10%; background-color:#FFFFF; border:none;">v</button>
                          </h2>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                          <div class="card-body">
                            <ul>
                                <li>Captain of Computer Science UI International Class Futsal Team, Intercup 2019 Runner Up</li>
                                <li>Second Runner Up ADV Cup 2019 Futsal Turnament University Level</li>
                                <li>Second Runner Up Budi Mulia Cup 2016 Futsal Turnament High School Level</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                  </div>
       
                <button onclick="myFunction()">Switch Theme</button>

                <script>
                function myFunction() {
                var element = document.body;
                element.classList.toggle("dark-mode");
                }
                </script>

            </div>
        </div>

        
      

    
    </div>
   
   
</body>

  <script type="text/javascript">
    //###########ACCORDION1#################
    function up1() {
        var currAcc = $("#accordion1");
        var nextAcc = currAcc.prev();
        nextAcc.insertAfter(currAcc);
    }
    function down1() {
        var currAcc = $("#accordion1");
        var nextAcc = currAcc.next();
        nextAcc.insertBefore(currAcc);
    }


    //###########ACCORDION2#################
    function up2() {
        var currAcc = $("#accordion2");
        var nextAcc = currAcc.prev();
        nextAcc.insertAfter(currAcc);
    }
    function down2() {
        var currAcc = $("#accordion2");
        var nextAcc = currAcc.next();
        nextAcc.insertBefore(currAcc);
    }

    //###########ACCORDION3#################
    function up3() {
        var currAcc = $("#accordion3");
        var nextAcc = currAcc.prev();
        nextAcc.insertAfter(currAcc);
    }
    function down3() {
        var currAcc = $("#accordion3");
        var nextAcc = currAcc.next();
        nextAcc.insertBefore(currAcc);
    }

    //###########ACCORDION4#################
    function up4() {
        var currAcc = $("#accordion4");
        var nextAcc = currAcc.prev();
        nextAcc.insertAfter(currAcc);
    }
    function down4() {
        var currAcc = $("#accordion4");
        var nextAcc = currAcc.next();
        nextAcc.insertBefore(currAcc);
    }

    
    
  </script>

</html>
 
</body>
</html>

</body>
</html>